{% extends 'index.html' %} {% load static %}{% load humanize %} {% block content %}
<div class="table-id card mt-4" style="max-width: 900px; margin: auto">
  <div class="card-body">
    <h6 class="m-0 text-center">Promedio diario y bonificaciones</h6>
    <table class="table" id="table_id" style="width: 100%; margin: auto">
      <thead>
        <tr class="text-left"style="background-color: #8ee7fa; font-size: 0.8em;">

          <th scope="col">Oficial</th>
          <th>Producido mes</th>
          <th scope="col">Días</th>
          <th scope="col">Promedio</th>
          <th>Cuadrilla</th>
          <th scope="col">Persona</th>

        </tr>
      </thead>
      <tbody>
        {% for b in bonificaciones %}

        <tr class="text-left tr small">
          <th scope="row" class="small">{{ b.instalador }}</th>
          <th scope="row" class="small">{{ b.valor_producido_mes|intcomma }}</th>
          <th scope="row" class="small">{{ b.numero_de_dias_laborados }}</th>
          <th scope="row" class="small">{{ b.adicional|intcomma }}</th>
          <th scope="row" class="small">{{ b.bonificacion_cuadrilla|intcomma }}</th>
          <th scope="row" class="small">{{ b.bonificacion_persona|intcomma  }}</th>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block js %}

<script src="{% static 'js/js_pendientes.js' %}"></script>

<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      order: [[5, "desc"]],

      dom: "Bfrtilp",

      lengthMenu: [
            [ 15, 30, 50, -1 ],
            [ '15', '30', '50', 'Todos' ]
        ],
        
      buttons: [   
        {
          extend: "excelHtml5",
          title:'',
          exportOptions: {
            columns: [ 0, 1, 2 ],
          },
        }, 
           
      ],
    });
  });
</script>

{% endblock js %}

